.row *{
    background-color: #084FFF;
    padding: 10px;
    color: white;
    text-align: center;
    border: 1px solid white;
}


.green *{
    background-color: #00E73F;
    border: 1px solid blue;
}
.green{
    padding: 0;
    border: none;
}

body .container:nth-child(2){
    margin-top: 20px;
}