.row *{
    background-color: #084FFF;
    color: white;
    text-align: center;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,
.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    border: 1px solid;
    padding:15px 0;
}

.green *{
    background-color: #00E73F;
    border: 1px solid blue;
}
.green{
    border: none;
}



.pixelart{
    padding: 0;
    height: 100px;
    border: 0;
    background-color: rgb(159, 159, 159);
}
.black{
    background-color: rgb(39, 39, 39);
}
.red{
    background-color: red;
}
.sfondo{
    background-image: url(https://wallpapercave.com/wp/wp8827296.jpg);
    background-position: center;
    background-size: cover;
}